$bg-color-start: #ffbcde;
$bg-color-end: #ff758c;

body {
  background: linear-gradient(to right, $bg-color-start, $bg-color-end);
  font-size: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
